

/* menu de categorias */
#categorias a {
    text-decoration: none;
    font-size: 12px;
}
#categorias a h4{
    font-size: 16px;
    color: brown;
}

/* div beneficios */
.beneficios {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.beneficios .part {
    text-align: center;
}
.beneficios img {
    width: 40px;
}

/* carousel prudutos */
.percDesconto {
    font-size: 12px;
    color: white;
    margin-left: 180px;
    margin-top: -10px;
    padding: 7px;
    opacity: .8;
}
#textPreco {
    font-size: 12px;
    color: rgb(39, 39, 39);
}

.carProdudos a {
    text-decoration: none;
    color: black;
}

.card button {
    display: none;
}

.card :hover button {
    display: block;
}

.card :hover #textPreco {
    display: none;
}

/* formulario de logis */
#formLogin label {
    margin-top: 10px;
}

#forLoginFooter a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(88, 88, 88);
}

/* form esqueci senha */
#modalEsqueciSenha p {
    font-size: 12px;
}

#categorias a h4:hover {
    background-color: rgba(165, 42, 42, 0.35);
    color: #ffffff;
    padding: 15px 40px;
    margin-top: -10px;
    margin-bottom: -15px;
}