<div>
    <p class="mt-2 text-center text-muted">Consulte o frete:</p>
    <form class=" form-group row">
        <div class="offset-sm-1 col-6 pl-0 pb-1">
            <input class="form-control" type="tel" name="cepDetalhe" id="cepDetalhe"
                placeholder="_____-___">
        </div>
        <div class="col-4 pl-0 pb-1">
            <button type="submit" class="btn btnDetalhe" value="submit"
                id="btnPesquisarCEP">Pesquisar</button>
        </div>
    </form>
    <div class="text-center">
        <a href="#" class="text-muted">Não sei meu CEP</a>
    </div>
</div>
