.percDesconto {
    /* display: block; */
    font-size: 12px;
    color: white;
    margin-left: 170px;
    margin-top: -220px;
    padding: 7px;
    opacity: .8;
}
#textPreco {
    font-size: 12px;
    color: rgb(39, 39, 39);
}


.carProdudos {
    margin: 0px;
    display: inline-flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: stretch;
}
.card {
    margin: 20px;
    /* height: 400px; */
    width: 200px;
    display: flex;
    justify-content: center;
}

.card :hover {
    cursor: pointer;
}

.card button {
    display: none;
}

.card :hover button {
    display: block;
}

.card :hover #textPreco {
    display: none;
}

#categorias a h4:hover {
    text-decoration: none;
    background-color: rgba(165, 42, 42, 0.35);
    color: #ffffff;
    padding: 15px 40px;
    margin-top: -10px;
    margin-bottom: -15px;
}
.card-img-top {
    width: 150px;
    margin: 10px;
}
.card-text {
    height: 100px;
    text-align: center;
}

#textPreco {
    height: 40px;
}
.btn-success {
    margin-top: 20px;
    margin-bottom: 14px;
}