<!-- 
<div *ngFor="let produto of produtos" class="m-3 carProdutos">
    <div class="d-flex flex-row col-md-12">
        <a *ngIf="produto.cod <= 4" class="card col-md-9" style="width: 18rem">
            <p class="rounded-circle bg-success position-absolute percDesconto">-10%</p>
            <img src="../../../assets/img/produtos/carousel/produto_01.jfif" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text font-weight-bold">{{produto.name}}</p>
                <div class="dropdown-divider"></div>
                <p class=""><span style="text-decoration: line-through;">R${{converteDecimal(produto.valorBruto)}} </span> <br> <span class="font-weight-bold text-warning text-decoration-none">R${{converteDecimal(produto.valorUnitario)}}</span></p>
                <p id="textPreco">R${{converteDecimal(produto.valorUnitario)}} a vista ou 3x de R$25,66 sem juros</p>
                <button class="btn btn-success col-md-10 ml-2" type="button">Comprar</button>
            </div>
        </a>
    </div>
</div> -->



<div *ngFor="let produto of produtos" class="carProdudos">
    <a *ngIf="produto.cod <= 4" class="card">
        <p class="rounded-circle bg-success position-absolute percDesconto">-10%</p>
        <img src="../../../assets/img/produtos/carousel/produto_01.jfif" class="card-img-top" alt="">
        <div class="card-body">
            <p class="card-text font-weight-bold">{{produto.name}}<</p>
            <div class="dropdown-divider"></div>
            <p class=""><span style="text-decoration: line-through;">R${{converteDecimal(produto.valorBruto)}}</span> <br> <span class="font-weight-bold text-warning text-decoration-none">R${{converteDecimal(produto.valorUnitario)}}</span></p>
            <p id="textPreco">R${{converteDecimal(produto.valorBruto)}} a vista ou 3x de R$25,66 sem juros</p>
            <button class="btn btn-success col-md-10 ml-2" type="button">Comprar</button>
        </div>
    </a>
</div>