<footer class="page-footer font-small mt-5 pt-4 text-white">
    <div class="container text-center text-md-left">
        <div class="row text-dark bg-div-green">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold mt-3 mb-4">Mapa do Site</h5>
                <ul class="list-unstyled">
                    <li><a class="text-dark" routerLink="/home">Início</a></li>
                    <li><a class="text-dark" routerLink="/produtos">Produtos</a></li>
                    <li><a class="text-dark" routerLink="/">Carrinho</a></li>
                    <li><a class="text-dark" routerLink="/sobre">Sobre</a></li>
                    <li><a class="text-dark" routerLink="/contato">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold mt-3 mb-4">Atendimento/Televendas</h5>
                <ul class="list-unstyled">
                    <li>(11) 9 9999-9999</li>
                    <li>&nbsp;</li>
                    <li>De segunda a sexta-feira, <br>das 08h as 18h.</li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold mt-3 mb-4">Redes Sociais</h5>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item mb-1">
                        <a href="http://facebook.com/meupanoonline" target="_blank"><img src="../../../assets/img/facebook-3-32.png" alt=""></a>
                    </li>
                    <li class="list-inline-item mb-1">
                        <a href="Http://instagram.com/meupanoonline" target="_blank"><img src="../../../assets/img/instagram-3-32.png" alt=""></a>
                    </li>
                    <li class="list-inline-item mb-1">
                        <a href="http://snapchat.com" target="_blank"><img src="../../../assets/img/snapchat-32.png" alt=""></a>
                    </li>
                    <li class="list-inline-item mb-1">
                        <a href="http://twitter.com" target="_blank"><img src="../../../assets/img/twitter-3-32.png" alt=""></a>
                    </li>
                    <li class="list-inline-item mb-1">
                        <a href="http://youtube.com" target="_blank"><img src="../../../assets/img/youtube-3-32.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-md-left pt-5">
        <h5 class="mb-1 text-dark font-weight-bold">Formas de Pagamento</h5>
        <div class="row">
            <div class="col-10">
                <ul class="list-unstyled list-inline py-2">
                    <li class="list-inline-item">
                        <i class="text-muted fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="text-muted fa fa-cc-visa fa-2x" aria-hidden="true"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="text-muted fa fa-cc-amex fa-2x" aria-hidden="true"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="text-muted fa fa-cc-discover fa-2x" aria-hidden="true"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="text-muted fa fa-cc-paypal fa-2x" aria-hidden="true"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="text-muted fa fa-cc-diners-club fa-2x" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <img src="../../../assets/img/site-seguro-google.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-4">
        <div class="row">
            <div class="col-6">
                <a routerLink="/" class="font-weight-bold text-dark text-decoration-none">
                    <img src="../../../assets/img/logo1.png" alt="Meu Pano Online">
                </a>
            </div>

            <div class=" col-6">
                <p class="text-right text-dark">&copy; {{ano}} - Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>