<main class="container">
    <div class="row">
        <div class="col-md-5 mx-auto bg-nav-green mt-5 rounded">
            <h3 class="p-2 text-center">Contato</h3>
            <!-- <form [formGroup]="formContato" (ngSubmit)="contactar()"> -->
            <form >
                <div class="form-group">
                    <label for="nameContact">Nome</label>
                    <input class="form-control" type="text" name="nameContact" formControlName="nome" placeholder="Seu nome"
                        required>
                </div>
                <div class="form-group">
                    <label for="emailContact">E-mail</label>
                    <input class="form-control" type="email" name="emailContact" formControlName="email" placeholder="email@email.com" required>
                </div>
                <div class="form-group">
                    <label for="telContact">Telefone</label>
                    <input class="form-control" type="tel" name="telContact" maxlength="11" formControlName="telefone" placeholder="(__)_____-____">
                </div>
                <div class="form-group">
                    <label for="messageContact">Mensagem</label>
                    <textarea class="form-control" name="messageContact" formControlName="mensagem" rows="5" cols="33"
                        placeholder="Digite sua mensagem aqui..." required></textarea>
                </div>
                <div class="m-3">
                    <button class="btn btnDetalhe offset-1 col-10">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</main>