<div class="d-flex justify-content-around m-5">
            <h5 id="tituloCarouselProdutos" class="text-">Básicos</h5>
        </div>
        <div id="carouselExampleFade" class="carousel slide carousel-fade d-flex justify-content-center" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active d-flex justify-content-center">
                    <app-produtos id="app-produtos" class=""></app-produtos>
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <app-produtos id="app-produtos" class=""></app-produtos>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
