<header class="navbar bg-nav-green p-4 text-light">
    <a href="#" class="navbar-brand mb-1 text-dark font-weight-bold" routerLink="/home">
        <img src="../../../assets/img/logo1.png" alt="">
    </a>
    <div class="input-group col-md-4 col-sm-12 mb-1">
        <input type="text" (keyup.enter)="pesquisarProduto(txtPesquisa.value)" class="form-control"
            placeholder="Sua pesquisa..." aria-label="Sua pesquisa..." aria-describedby="pesquisa" #txtPesquisa>
        <div class="input-group-append">
            <button class="btn btn-outline-info" type="button" id="pesquisa"></button>
        </div>
    </div>
    <div class="mb-1">
        <button type="button" class="btn btn-outline-success rounded login mr-2" data-toggle="modal"
            data-target="#login" (click)="openModal()">
            <span *ngIf="login">
                <span id="nomeLogin"> {{ separarNome(login.nome) }} </span>
            </span>
        </button>
        <a class="btn btn-outline-warning text-light rounded carrinho" href="#"></a>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Produtos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active" *ngFor="let cat of categorias">
                <a class="nav-link" (click)="btnFiltro(cat.cod)" 
                routerLink="/produtos/categoria/{{cat.cod}}">{{cat.nomeCategoria}}</a>
            </li>
        </ul>
    </div>
</nav>
