<aside class="container mt-3 border-bottom pb-3">
    <h3 class="text-secondary font-weight-bold">Produtos Similares</h3>
    <div id="carouselExampleControls" class="carousel slide d-flex justify-content-center" data-ride="carousel">
        <div class="carousel-inner m-3">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img02.jpg" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold text-secondary font-weight-bold">
                                Pano Chic</h5>
                            <p class="card-text text-success font-weight-bold text-success font-weight-bold">R$20,00
                            </p>
                        </div>
                    </a>
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img03.jpg" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold">Conjunto Sua Cozinha</h5>
                            <p class="card-text text-success font-weight-bold">R$120,00</p>
                        </div>
                    </a>
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img04.jpg" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold">Pano Cat</h5>
                            <p class="card-text text-success font-weight-bold">R$15,00</p>
                        </div>
                    </a>
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img01.jpg" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold">Bordado Cacto</h5>
                            <p class="card-text text-success font-weight-bold">R$35,00</p>
                        </div>
                    </a>
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img02.jpg" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold">Conjunto Motivos Diferentes</h5>
                            <p class="card-text text-success font-weight-bold">R$68,00</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img05.png" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold text-secondary font-weight-bold">
                                Pano Chic</h5>
                            <p class="card-text text-success font-weight-bold text-success font-weight-bold">R$20,00
                            </p>
                        </div>
                    </a>
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img01.jpg" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold">Conjunto Sua Cozinha</h5>
                            <p class="card-text text-success font-weight-bold">R$120,00</p>
                        </div>
                    </a>
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img03.jpg" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold">Pano Cat</h5>
                            <p class="card-text text-success font-weight-bold">R$15,00</p>
                        </div>
                    </a>
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img05.png" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold">Bordado Cacto</h5>
                            <p class="card-text text-success font-weight-bold">R$35,00</p>
                        </div>
                    </a>
                    <a href="#" class="card col-md-2 m-3 d-block" style="width: 10rem;">
                        <img class="card-img-top" src="../../../assets/img/produtos/detalhado/img01.jpg" alt="Pano de prato" title="Pano de prato"
                            style="width:100%; height:200px;">
                        <div class="card-body">
                            <h5 class="card-title text-secondary font-weight-bold">Conjunto Motivos Diferentes</h5>
                            <p class="card-text text-success font-weight-bold">R$68,00</p>
                        </div>
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</aside>