<app-nav></app-nav>
<main class="container">
    <h1 class="text-dark mt-3 pb-2">Categoria</h1>
    <div class="card-group">  
      <app-produtos id="app-produtos"></app-produtos>-->
        <div class="card col-md-3 col-xs-6" style="width: 20rem;">
            <a href="#"><img class="card-img-top pt-1" src="../../../assets/img/produtos/detalhado/img01.jpg"
                    alt="Pano de Prato" title="Pano de Prato" style="width:100%; height:auto;"></a>
            <div class="card-body">
                <a href="#"
                    class="h5 card-title text-secondary font-weight-bold text-secondary font-weight-bold">titulo</a>
                <a href="#">

                    <p class="card-text"><span style="text-decoration: line-through;">valor</span> <br>
                        <span
                            class="text-success font-weight-bold text-success font-weight-bold text-decoration-none">produto.valorDesconto</span>
                    </p>
                    <p id="textPreco">produto.valorDesconto à vista ou 3x de
                        produto.valorDesconto)/3 sem juros</p>

                    <p class="card-text  text-success font-weight-bold text-success font-weight-bold">R$15,00</p>
                </a>
                <button type="submit" class="mx-auto btn btnDetalhe col-12 mt-2" value="submit">Comprar</button>
            </div>
        </div>
    </div>
</main>