<app-nav></app-nav>
<main class="container mt-2" >
  <div class="row">
    <div class="col-7">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../../assets/img/produtos/Desenhados/img40.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8" >
            <div class="card-body" >
              <h5 class="card-title">Pano de prato sua casa</h5>
              <input id="produto" class="number" type="number">
              
              <p class="card-text">Pano de prato sua casa, personalizado - Julius</p>
              

              <div class="row" id="itens">
              <button type="button" class="btn btn-success" onclick=" localStorage.clear(); location.reload();">Adicionar</button>
              <button type="button" class="btn btn-outline-danger" style="padding-left: 5px;"  onclick=" localStorage.clear(); location.reload();">Remover</button> 
              <!-- <button type="button" onclick=" localStorage.clear(); location.reload();"> Limpar carrinho </button> -->
            </div>
            <div class="row">
              <div>Total: <span id="total"></span> </div>
              <h6 style="color: green;">R$ 4,99</h6>
            </div>
           

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <h5 class="card-title p-3">Resumo do Pedido</h5>
        <div class="card-body" style="background-color: rgba(31, 189, 139, 0.29);">
          <blockquote class="blockquote mb-0">
            <p>Pano de prato sua casa, personalizado - Julius.</p>
          </blockquote> 

              
              <p class="card-text">1 Produto .......................................................R$ 4,99
              <button type="button" class="btn btn-outline-info">5,88</button></p>
              <p class="card-text">Frete .........................................................................</p>
              <h5>Total</h5><h5 style="color: rgb(34, 160, 34);">R$ 4,99</h5>   
        
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success" type="button" data-toggle="modal" 
                data-target="#compraFinalizada">Continuar</button>
              </div>

              <div id="compraFinalizada" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Você deseja adicionar algo mais?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p><b>Obrigado! </b>Você fez uma excelente escolha.</p>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                  </div>
                  </div>
                </div>
                </div>

        </div>
      </div>

      <div class=" form-group" style="margin-left: 12px; margin-top: 15px; width: 400px; height: 750px; position:-webkit-sticky;">
        <label for="CEPUsuario">Consulte o frete</label>
        <input class="form-control justify-content-center " type="text" id="CEPUsuario" name="CEPUsuario"> <button type="button" class="btn btn-success">Consultar</button>           
      </div>

    </div>
  </div>
</main>