<app-endereco></app-endereco>
<div>
    <form [formGroup]="formRegister" (ngSubmit)="enviarCadastro()">
        <div class="d-flex justify-content-center m-5">
            <h4>Cadastro</h4>
        </div>
        <div class="d-flex justify-content-center text-center">
            <div class="col-md-2 dropdown-divider bg-success"></div>
            <span class="col-md-2 d-flex justify-content-center mb-0">Preencha o formulario</span>
            <div class="col-md-2 dropdown-divider bg-success"></div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-md-3 col-s-10 m-3">
                <div class="col-xs-12 form-group">
                    <label class="">nome completo</label>
                    <input type="text" class="form-control" formControlName="fullName" placeholder="Ex: Nome Sobrenome">
                </div>
                <div class="d-flex justify-content-between">
                    <div class="doisEmUm form-group m-0 col-md-6 p-0">
                        <label class="">CPF*</label>
                        <input type="text" class="form-control" formControlName="numCPF" placeholder="Ex: ___.__.___-__">
                    </div>
                    <div class="doisEmUm form-group m-0 col-md-6 pr-0">
                        <label class="">Sexo*</label>
                        <select class="form-control" formControlName="genre">
                            <option value="" selected disabled>Escolha</option>
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <div class="form-group m-0 col-md-6 p-0">
                        <label class="">Celular*</label>
                        <input type="text" class="form-control" formControlName="numCPF" placeholder="">
                    </div>
                    <div class="form-group m-0 col-md-6 pr-0">
                        <label class="">Telefone*</label>
                        <input type="text" class="form-control m-0" formControlName="telephone" placeholder="">
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label>Data de nascimento</label>
                    <div class="d-flex">
                        <input class="form-control m-0 pr-0 mr-0" type="date" placeholder="DD">
                    </div>
                </div>
            </div>
            <div class="col-md-3 m-3">
                <div class="form-group">
                    <label class="">e-mail</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="d-flex">
                    <div class="form-group">
                        <label class="">Senha*</label>
                        <input type="text" class="form-control col-md-11" formControlName="numCPF">
                    </div>
                    <div class="form-group">
                        <label class="">Confirmar senha*</label>
                        <input type="text" class="form-control col-md-11 ml-0" formControlName="fullName">
                    </div>
                </div>
                <div>
                    <button class="mt-3 col-md-12 btn btn-primary">cadastrar</button>
                </div>
            </div>
            
        </div>
    </form>
</div>