<div>
    <form>
        <div class="d-flex justify-content-center m-5">
            <h4>Cadastro</h4>
        </div>
        <div class="d-flex justify-content-center text-center">
            <div class="col-md-2 dropdown-divider bg-success"></div>
            <span class="col-md-2 d-flex justify-content-center mb-0">Preencha o formulario</span>
            <div class="col-md-2 dropdown-divider bg-success"></div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-md-3 m-3">
                <div class="form-group">
                    <label class="">nome completo</label>
                    <input type="text" class="form-control" formControlName="fullName" placeholder="Ex: Nome Sobrenome">
                </div>
                <div class="d-flex justify-content-between">
                    <div class="doisEmUm form-group m-0 col-md-6 p-0">
                        <label class="">CPF*</label>
                        <input type="text" class="form-control" formControlName="numCPF" placeholder="Ex: ___.__.___-__">
                    </div>
                    <div class="doisEmUm form-group m-0 col-md-6 pr-0">
                        <label class="">Sexo*</label>
                        <input type="text" class="form-control m-0" formControlName="fullName" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-md-3 m-3">
                <div class="form-group">
                    <label class="">e-mail</label>
                    <input type="text" class="form-control">
                </div>
                
            </div>
            
        </div>
    </form>
</div>