<main class="container border-bottom pb-5">
    <div>
        <div class="row mt-6">
            <div class="col-md-6 mt-3 ">
                <img src="{{ produtoDetalhado?.imagem }}" class="img-fluid mx-auto d-block rounded mw-100 mh-100"
                    style="width:300px; height: auto;" alt="Pano de Prato" title="Pano de Prato" />
            </div>
            <div class="col-md-6">
                <h3 class="pt-2 pb-3 ">{{ produtoDetalhado?.tituloProduto }}</h3>
                <p class="text-justify">
                    {{ produtoDetalhado?.descricao }}
                </p>
                <p style="align-content: left;">
                    <span style="text-decoration: line-through">
                        R$ {{ converteDecimal(produtoDetalhado?.valor) }}
                    </span>
                    <br>
                    <span class="h3 font-weight-bold text-success text-decoration-none text-muted text-left">
                        R$ {{ converteDecimal(produtoDetalhado?.valorDesconto) }}
                    </span>
                </p>
                <p class="text-muted text-left">Em até 1x sem juros</p>
                <div class="row">
                    <button type="submit" (click)="comprar()" class="mx-auto btn btnDetalhe offset-1 col-10 mb-2"
                        style="height: 48px;" value="submit">Comprar</button>
                </div>
                <div class="pb-1 border-bottom text-center text-muted">
                    <a add-cart (click)="adicionarCarrinho()" class="light"><strong>Adicionar ao carrinho</strong></a>
                </div>
            </div>
        </div>
    </div>
</main>

<section class="container text-secondary mt-4 pb-3">
    <div class="row">
        <div class="col-md-6">
            <h3>Descrição</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptas quos ex molestiae ea
                obcaecati, natus placeat! Molestias illum, animi similique, culpa quae dolorum obcaecati qui
                consequuntur voluptatibus assumenda impedit!</p>
        </div>
        <div class="col-md-6">
            <h3>Características</h3>
            <h4>O que vem na embalagem?</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam repudiandae nihil doloribus hic
                voluptatum est, nulla corporis! Earum cum eveniet, commodi quam alias distinctio molestiae
                asperiores quis beatae doloremque necessitatibus.</p>
            <h4>Composição:</h4>
            <P>100% algodão</P>
        </div>
    </div>
</section>