<main class="container bg-light border-bottom pb-5">
    <div class="row mt-3">
        <div class="col-md-4  text-secondary">
            <h3 class="pt-2 pb-3 ">Título do produto</h3>
            <p class="text-jestify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptas, totam dolores eos
                autem
                veritatis dolorum magnam pariatur eligendi odit. Corporis saepe aspernatur modi. Esse dolore officia
                sit tempore molestias!
            </p>
            <p class="text-justify">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam nihil eos ea, corrupti rem a quam
                tempore dolor suscipit vitae ad placeat corporis ab blanditiis aliquid voluptas itaque recusandae
                nostrum!
            </p>
            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nam molestias assumenda
                consequuntur deserunt aspernatur eaque perferendis architecto, consequatur veniam sint tempore ipsam
                dicta doloremque est ab provident, placeat corporis?
            </p>
        </div>
        <div class="col-md-5">
            <img src="../../../assets/img/produtos/detalhado/img05.png" class="img-fluid mx-auto d-block rounded mw-100 mh-100"
                style="width:300px; height: auto;" alt="Pano de Prato" title="Pano de Prato" />
        </div>
        <div class="col-md-3">
            <p class="h3 p-3 border-bottom text-success font-weight-bold">R$15,00</p>
            <p class="text-muted text-right">Em até 1x sem juros</p>
            <div class="row">
                <button type="submit" class="mx-auto btn btnDetalhe offset-1 col-10 mb-2" value="submit">Comprar</button>
            </div>
            <div class="pb-1 border-bottom text-center">
                <a href="#" class="text-success">Adicionar ao carrinho</a>
            </div>
            <div>
                <p class="mt-2 text-center text-muted">Consulte o frete:</p>
                <form class=" form-group row">
                    <div class="offset-sm-1 col-6 pl-0 pb-1">
                        <input class="form-control" type="tel" name="cepDetalhe" id="cepDetalhe"
                            placeholder="_____-___">
                    </div>
                    <div class="col-4 pl-0 pb-1">
                        <button type="submit" class="btn btnDetalhe" value="submit"
                            id="btnPesquisarCEP">Pesquisar</button>
                    </div>
                </form>
                <div class="text-center">
                    <a href="#" class="text-muted">Não sei meu CEP</a>
                </div>
            </div>
        </div>
    </div>
</main>
