<section class="mt-3">
    <div id="categorias">
        <ul class="list-unstyled list-inline d-flex flex-row justify-content-around">
            <li class="list-inline-item">
                <a routerLink="#" class="col-xs-3">
                    <h4>Personalizados</h4>
                </a>
            </li>
            <li class="list-inline-item">
                <a routerLink="#" class="col-xs-3">
                    <h4>Sem renda</h4>
                </a>
            </li>
            <li class="list-inline-item">
                <a routerLink="#" class="col-xs-3">
                    <h4>Desenhados</h4>
                </a>
            </li>
            <li class="list-inline-item">
                <a routerLink="#" class="col-xs-3">
                    <h4>Bordados</h4>
                </a>
            </li>
        </ul>
    </div>
</section>