<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Categorias</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active" *ngFor="let c of item">
                <a class="nav-link" routerLink="{{c.route}}">{{c.label}}</a>
            </li>
        </ul>
    </div>
</nav>
