<app-nav></app-nav>
<div class="container text-justify">
    <div class="row mt-5">
        <div class="col-8">
            <h4>Sobre Nós</h4>
            <p>Olá, tudo bem? Nós somos a Meu Pano Online.</p>
            <p>Acreditamos que nada precisa ser chato, nem mesmo os seus panos de prato.</p>
            <p>Se a cozinha é o coração da nossa casa, por que não preencher esse coração com o que você mais gosta?</p>
            <p>Temos panos para todos os públicos. Adora os clássicos panos de galinha? Não abre mão de deixar a sua
                cozinha alto astral? É fã de cultura pop/geek? É memeiro? Seja qual for o seu estilo, pode contar
                conosco, nós temos o pano de prato que falta na sua casa.</p>
            <p>Que tal nos conhecer um pouco mais? Pode entrar, conheça nossos produtos, sinta-se em casa!</p>
        </div>
        <div class="col-3 ml-2">
            <img src="../../../assets/img/logo1.png" alt="Logotipo Meu Pano Online" title="Logotipo Meu Pano Online" class="mt-4">
        </div>
    </div>
    <div class="dropdown-divider bg-dark"></div>
    <div class="row">
        <div class="col-4">
            <h5 class="text-center">Missão</h5>
            <p>Panos de pratos para todos os públicos!</p>
        </div>
        <div class="col-4">
            <h5 class="text-center">Visão</h5>
            <p>Permitir que todos possam deixar seu lar do jeitinho que desejam, abrangendo pequenos detalhes como os
                panos de prato da sua cozinha, que deixam de ser simples panos e passam a fazer parte da sua decoração.</p>
        </div>
        <div class="col-4">
            <h5 class="text-center">Valores</h5>
            <p>Respeito: ao consumidor e a nossa equipe.</p>
            <p>Responsabilidade ambiental: trabalhando sempre de maneira consciente.</p>
            <p>Respeito à diversidade: para construir um mundo mais justo.</p>
            <p>Fazer a diferença: parte do lucro de nossas vendas são revertidas para instituições de caridade.</p>
        </div>
    </div>
</div>