<div class="container text-justify">
    <div class="row mt-5">
        <div class="col-8">
            <h4>Sobre Nós</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quis maxime est consectetur id recusandae
                eum tenetur, quam corporis fugiat quod libero, veritatis omnis commodi, facere officiis ipsa pariatur
                debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quis maxime est consectetur id recusandae
                eum tenetur, quam corporis fugiat quod libero, veritatis omnis commodi, facere officiis ipsa pariatur
                debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quis maxime est consectetur id recusandae
                eum tenetur, quam corporis fugiat quod libero, veritatis omnis commodi, facere officiis ipsa pariatur
                debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quis maxime est consectetur id recusandae
                eum tenetur, quam corporis fugiat quod libero, veritatis omnis commodi, facere officiis ipsa pariatur
                debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quis maxime est consectetur id recusandae
                eum tenetur, quam corporis fugiat quod libero, veritatis omnis commodi, facere officiis ipsa pariatur
                debitis.</p>
        </div>
        <div class="col-3 ml-2">
            <img src="" alt="uma imagem legal..." class="mt-4">
        </div>
    </div>
    <div class="dropdown-divider bg-dark"></div>
    <div class="row">
        <div class="col-4">
            <h5 class="text-center">Missão</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas blanditiis aspernatur unde cumque voluptas
                distinctio libero exercitationem nemo omnis beatae natus sit iste quia nihil, tempora illo itaque
                expedita deserunt.</p>
        </div>
        <div class="col-4">
            <h5 class="text-center">Valores</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas blanditiis aspernatur unde cumque voluptas
                distinctio libero exercitationem nemo omnis beatae natus sit iste quia nihil, tempora illo itaque
                expedita deserunt.</p>
        </div>
        <div class="col-4">
            <h5 class="text-center">Visão</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas blanditiis aspernatur unde cumque voluptas
                distinctio libero exercitationem nemo omnis beatae natus sit iste quia nihil, tempora illo itaque
                expedita deserunt.</p>
        </div>
    </div>
</div>