/* You can add global styles to this file, and also import other style files */
.login::before {
    content: url('../src/assets/img/contacts-16.png');
    flex-direction: row;
}

.carrinho::before {
    content: url('../src/assets/img/shopping-basket-16.png');
}

#pesquisa::before {
    content: url('../src/assets/img/search-3-16.png');
}

.bg-nav-green, footer {
    background-color: rgba(31, 189, 139, 0.29);
}

.bg-div-green {
    background-color: rgba(150, 195, 170, 0.5)
}
.btnDetalhe{
    background-color: #03B304;
    color: #fff;
}

.carousel-control-prev-icon {
    margin-right: 140px;
}

.carousel-control-next-icon {
    margin-left: 140px;
}

