/* You can add global styles to this file, and also import other style files */

.login::before {
    content: url('../src/assets/img/contacts-16.png');
    flex-direction: row;
}

.carrinho::before {
    content: url('../src/assets/img/shopping-basket-16.png');
}

#pesquisa::before {
    content: url('../src/assets/img/search-3-16.png');
}

.bg-nav-green, footer {
    background-color: rgba(31, 189, 139, 0.29);
}

.bg-div-green {
    background-color: rgba(150, 195, 170, 0.5)
}

.btnDetalhe {
    background-color: #03B304;
    color: #fff;
}

.carousel-control-prev-icon {
    margin-right: 140px;
}

.carousel-control-next-icon {
    margin-left: 140px;
}

/* menu de categorias */

#categorias a {
    text-decoration: none;
    font-size: 12px;
}

#categorias a h4 {
    font-size: 16px;
    color: brown;
}

/* div beneficios */

.beneficios {
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.beneficios .part {
    text-align: center;
}

.beneficios img {
    width: 40px;
}

/* carousel prudutos */

.percDesconto {
    font-size: 12px;
    color: white;
    margin-left: 180px;
    margin-top: -10px;
    padding: 7px;
    opacity: .8;
}

#textPreco {
    font-size: 12px;
    color: rgb(39, 39, 39);
}

.carProdudos a {
    text-decoration: none;
    color: black;
}

.card button {
    display: none;
}

.card :hover button {
    display: block;
}

.card :hover #textPreco {
    display: none;
}

/* formulario de logis */

#formLogin label {
    margin-top: 10px;
}

#forLoginFooter a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(88, 88, 88);
}

/* form esqueci senha */

#modalEsqueciSenha p {
    font-size: 12px;
}

#categorias a h4:hover {
    background-color: rgba(165, 42, 42, 0.35);
    color: #ffffff;
    padding: 15px 40px;
    margin-top: -10px;
    margin-bottom: -15px;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
    .animated {
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        -webkit-transition-duration: 1ms !important;
        transition-duration: 1ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}