.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

.carEndereco {
    /* border: 2px solid rgba(129, 125, 125, 0.479); */
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
}

.carEndereco header {
    width: 100%;
    margin: 10px;
    display: flex;
    font-weight: bold;
}

.carEndereco header input {
    margin: 5px;
    cursor: pointer;
}

.carEndereco header label {
    margin-left: 10px;
}

.endereco p {
    margin: 10px;
    font-size: 13px;
    margin-bottom: 20px;
}